<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
	<style>
		* {
			box-sizing: border-box;
			padding: 0px;
			margin: 0px;
		}

		.noselect {
             -webkit-touch-callout: none; /* iOS Safari */
               -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                  -moz-user-select: none; /* Old versions of Firefox */
                   -ms-user-select: none; /* Internet Explorer/Edge */
                       user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
		}

		body {
			background-size: cover;
			background-position: center;
			width: 100%;
			height: 100%;
			background-image:url('/Posidonia.png');
			object-fit: cover;
		}
		.routerbtn:hover {
			border: 1px solid #0ea5e9;
			border-radius: 15px;
			background-color: white;
		}
		.routerbtn {
			padding: 10px;
			margin-right: auto;
			margin-left: auto;
		}

	</style>
    <title>POSIDONIA OCEANICA</title>

