<%= erb :header %>
<%= erb :leaflet %>
<style>
 body {
    overflow-x:hidden;
    overflow-y:hidden;
    background-image: none;
 }
 nav {
    background-size: cover;
    z-index: 999;
    background-position: center;
    width: 100%;
    height: 100%;
    background-image:url('/Posidonia.png');
}
div nav {
    z-index: 1000;
}
</style>
</head>
<body>
<%= erb :navbar %>
<hr>
<div class="w-screen h-[100vh]" style="z-index: 1" id="map_id"></div>
<script>
    var setViewLatLng = new L.LatLng(38.670766, 26.746846);
    var map = L.map('map_id').setView(setViewLatLng, 9)
    let googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
        maxZoom: 30,
        attribution: 'Posidonia Oceinaca Koruma Haritası | &copy; 2024. All rights reserved.',
        subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
    });
    googleSat.addTo(map);
</script>
</body>
</html>
