<hr style="color:white;">
<footer aria-label="Site Footer" style="font-family: Poppins, sans-serif;">
	<div class="mx-auto max-w-screen-xl px-4 py-2 sm:px-6 lg:px-8 ">
		<div class="sm:flex sm:items-center sm:justify-between">
		<div class="flex justify-center text-black-600 sm:justify-start">
			<a class="font-bold leading-none flex justify-center items-center" href="/" style="text-align: center">
				<img style="vertical-align:middle" src="/logo.png" class="h-10">
				<span style="color:white;"><pre style="font-family: Poppins, sans-serif; vertical-align:middle">   POSIDONIA OCEANICA KORUYUCU</pre></span>
			</a>

		</div>

		<p style="font-weight:bold; color:white;" class="mt-4 text-center text-sm text-white-500 lg:mt-0 lg:text-right">
			Copyright &copy; 2024. All rights reserved.
		</p>
		</div>
	</div>
</footer>
