<nav class="bg-gray-800 bg-opacity-50 shadow-lg backdrop-blur-md relative px-4 py-4 flex justify-between items-center">
		<a class="font-bold leading-none flex justify-center items-center" href="/" style="text-align: center">
			<img style="vertical-align:middle" src="/logo.png" class="h-12">
			<span class="ml-5" style="font-family: 'Poppins', sans-serif; color:white;">
				<h1 class="font-bold text-white" style="vertical-align:middle">
					POSIDONIA OCEANICA KORUYUCU
				</h1>
			</span>
		</a>
		<div class="lg:hidden xl:hidden 2xl:hidden md:inline-block">
		    <button style="color:white;" class="navbar-burger flex items-center p-3">
				<svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<title>Mobile menu</title>
					<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
				</svg>
			</button>
		</div>
		<ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">
			<li><a class="routerbtn text-bold font-bold text-sm text-white hover:text-sky-500 " href="/home"><b>Ana Sayfa</b></a></li>
			<li class="text-gray-300">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
				</svg>
			</li>
			<li><a class="routerbtn text-sm text-white hover:text-sky-500" href="/map"><em><b>Posidonia oceanica</em> Haritası</b></a></li>
		</ul>
		<% if (session[:id] == nil) %>
            <a class="hidden lg:inline-block py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200"
			href="/login" style="font-family: 'Poppins', sans-serif;">
				Haritayı Güncelle!
			</a>
        <% else %>
			<div class="hidden lg:inline-block">
				<a class=" mr-2 py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200" href="/addItem">Yeni yer ekle!</a>
				<a class="py-2 px-6 bg-red-500 hover:bg-red-600 text-sm text-white font-bold rounded-xl transition duration-200" href="/logout">Çıkış yap!</a>
			</div>
		<% end %>
    </nav>
	<div class="navbar-menu relative z-50 hidden" style="font-family: 'Poppins', sans-serif;">
		<div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
		<nav class="bg-gray-800 bg-opacity-50 shadow-lg backdrop-blur-md fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 border-r overflow-y-auto">
			<div class="flex items-center mb-8">
				<a class="mr-auto text-3xl font-bold leading-none" href="#">
					<img src="/logo.png" class="h-12"/>
				</a>
				<button class="navbar-close">
					<svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
					</svg>
				</button>
			</div>
			<div>
				<ul style="font-size: 20px;">
					<li class="mb-1" >
						<a class="block p-4 text-sm font-semibold text-white hover:bg-blue-50 hover:text-blue-600 rounded" href="/home"><b>-&gt; Ana Sayfa</b></a>
					</li>
					<li class="mb-1" >
						<a class="block p-4 text-sm font-semibold text-white hover:bg-blue-50 hover:text-blue-600 rounded" href="/map"><b>-&gt; "<em>Posidonia oceanica"</em><%= " " %>Haritası</b></a>
					</li>
				</ul>
			</div>
			<div class="mt-auto">
				<div class="pt-6">
					<% if (session[:id] == nil) %>
						<a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-blue-600 hover:bg-blue-700  rounded-xl" href="/login">Haritada güncelleme yap</a>
					<% else %>
						<a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-blue-600 hover:bg-blue-700  rounded-xl" href="/addItem">Yeni yer ekle</a>
						<a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-red-600 hover:bg-red-700  rounded-xl" href="/logout">Çıkış yap!</a>
					<% end %>
				</div>
				<p class="my-4 text-xs text-center text-gray-400">
					<span>Copyright &copy; 2024</span>
				</p>
			</div>
    	</nav>
</div>
<script>
// Burger menus
document.addEventListener('DOMContentLoaded', function() {
    // open
    const burger = document.querySelectorAll('.navbar-burger');
    const menu = document.querySelectorAll('.navbar-menu');

    if (burger.length && menu.length) {
        for (var i = 0; i < burger.length; i++) {
            burger[i].addEventListener('click', function() {
                for (var j = 0; j < menu.length; j++) {
                    menu[j].classList.toggle('hidden');
                }
            });
        }
    }

    // close
    const close = document.querySelectorAll('.navbar-close');
    const backdrop = document.querySelectorAll('.navbar-backdrop');

    if (close.length) {
        for (var i = 0; i < close.length; i++) {
            close[i].addEventListener('click', function() {
                for (var j = 0; j < menu.length; j++) {
                    menu[j].classList.toggle('hidden');
                }
            });
        }
    }

    if (backdrop.length) {
        for (var i = 0; i < backdrop.length; i++) {
            backdrop[i].addEventListener('click', function() {
                for (var j = 0; j < menu.length; j++) {
                    menu[j].classList.toggle('hidden');
                }
            });
        }
    }
});
</script>
